<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>רשימת סטודנטים</h1>
    <%for(stud of students){%>
        <div class="stud-div">
            <h4>שם: <%=stud.name%></h4>
            <h4>מורה: <%=stud.info.teacher%></h4>
        </div>
        <div class="stud-control">
            <button class="btn btn-info"> מעקב סטודנט</button>
            <button class="btn btn-info"> פרטי סטודנט</button>
        </div>
    <%}%>

<button><a href="/admin/studentsAddForm">הוסף סטודנט</a></button>
</body>
</html>