
 <%- include('../partiels/headerAdmin.ejs') %>
    <h1>מורי אוהלייך</h1>
    <h1 style="text-align: center;"><%= teacher.name %></h1>
    
    <% for(stud of students) {%>
        <div >
            <h3><%= stud.name %></h3>
            
        </div>
        <button class="btn btn-info"><a href="/admin/studentUpdate/<%= stud._id %>">שנה מורה </a> </button>
    <% }%>

</body>
</html>