
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add examp</title>
</head>
<body>
    
    <h1>You are adding an example</h1>

    <form action="be-examp" method="post">
<div id="q-wrap":>
<label for="question">Choose a questioner:</label>
  <select id="question" name="question">
    <option value="behavioral">Behavioral</option>
    <option value="emotional">Emotional</option>
    <option value="educational">Educational</option>
 </select>
</div>
<div id="c-wrap">
<label for="color">Choose a color:</label>
  <select id="color" name="color">
    <option value="red">Red</option>
    <option value="orange">Orange</option>
    <option value="yellow">Yellow</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
 </select>
</div>
<div id="t-wrap">
 <label for="qBody">Please add your:</label>
 <input type="text" name="qBody" id="qBody" placeholder="Your question: ">
</div>

<button> Submit</button>
    </form>

    <a href="/examp">Back</a>
</body>
</html>