<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Add Student</h1>
    <form action="addStuds" method="post" style="text-align: center;">
        <input type="text" name="name" id="name" placeholder="NAME"><br>
        <input type="text" name="id" id="id" placeholder="ID"><br>
        <input type="text" name="phone" id="phone" placeholder="PHONE"><br>
        <input type="text" name="teacher" id="" placeholder="teacher">
        <br><br><input type="submit" value="Submit" style="width: 60px;">  
    </form>
</body>
</html>