<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>I am in stud ejs</h1>

    <%for(stud of data) {%>
        <div>nane <%= stud.name%></div>
     
        <button><a href="/stud/goToQ/<%= stud._id%> "> <%= stud.name%>  Resoults </a></button> 

        <% } %> 
</body>
</html>