<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addNew" method="post">
        <div style="text-align: center;">
            <select name="skill" id="skill" style="font-size: large;">
                <option seleted>בחר קטגוריה</option>
                <option value="lifSkills">כישורי חיים</option>
                <option value="emotionSkills">כישורי רגש</option>
                <option value="learningSkills">כישורי למידה</option>
            </select>            
        </div>
        <div style="text-align: center;">
            <select name="color" id="color" style="font-size: large;margin-top: 30px;">
                <option seleted>בחר צבע</option>
                <option value="red">אדום</option>
                <option value="orange">כתום</option>
                <option value="yellow">צהוב</option>
                <option value="green">ירוק</option>
                <option value="lime">ליים</option>
            </select>
        </div>
        <div style="text-align: center;">
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>