<%- include('../partiels/headerAdmin.ejs') %>

<h1 class="title">הוספת שאלה פתוחה</h1>
<form action="<%= id %>" method="post" style="margin: 20px;">
    <input type="text" name="text" placeholder="הוסף שאלה">
    <input type="text" name="answer" placeholder="הוסף תשובה">
    <input type="submit" value="הוספה">
</form>